<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Username:</strong>
  <%= @book.username %>
</p>

<p>
  <strong>Pagecount:</strong>
  <%= @book.pagecount %>
</p>

<p>
  <strong>Share:</strong>
  <%= @book.share %>
</p>

<p>
  <strong>Tradeable Status:</strong>
  <%= @book.t_status %>
</p>
<% if current_user == @book.user %>
  <td><%= link_to 'Edit', edit_book_path(@book) %></td>
  <td><%= link_to 'Delete', books_path,
                  data: { confirm: 'Are you sure?' } %></td>
<% end %>
<hr>
<div id="flash_notice"></div>
<h3> Comments</h3>
<%= render @comments %>
<h4> Permission to Comments</h4>
<%= render @allow_comments %>
<div class="comments"></div>
<hr>

<h3>Add Comments</h3>
<%= form_with(model: [ @book, @book.comments.build ], local: false) do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :content %><br>
    <%= form.text_field :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<hr>


