<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Pagecount:</strong>
  <%= @book.pagecount %>
</p>

<p>
  <strong>Share:</strong>
  <%= @book.share %>
</p>
<% if current_user == @book.user %>
  <td><%= link_to 'Edit', edit_book_path(@book) %></td>
  <td><%= link_to 'Delete', books_path,
                  data: { confirm: 'Are you sure?' } %></td>
<% end %>